body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    height: 100vh;
}

/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */

header {
    display: flex;
    justify-content: center;
}

.collage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 850px;
    width: 820px;
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */

img {
    width: 200px;
}